.line-chart-container {
  width: 100%; 
  height: 300px; 


}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .line-chart-container {
    width: 80%; 
    height: 400px; 
  }
}