.carbon-navbar {
  width: 90%;
    height: 72px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    .carbon-navbar-container-icon{
      display: flex;
      align-items: center;

      svg {
        height: 40px;
        width: 40px;
      }
    }
}