.carbon-density-home-info {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  height: auto;

  .carbon-density-text {
    font-size: 1.3rem;
    max-width: 20ch;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .carbon-density-information-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    justify-items: center;

    .carbon-density-card-container {
      width: 168px;
      @media screen and (min-width: 1020px) {
        width: 100%; 
      }

      .carbon-forecast-header {
        margin-bottom: 0;
      }

      .carbon-number-data {
        text-align: center;
        font-size: 1.4rem;
        margin-top: 0;
      }
    }
  }

  .carbon-density-data-container {
    margin-top: 0.5rem;
    @media(min-width: 1020px){
      display: flex;
      flex-direction: column;
      max-width: 328px;
      width: 100%;
      gap: 1.4rem;
      justify-content: end;
    }
  }

  .carbon-density-index-container {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto 1fr auto;
    height: 120px;

    @media(min-width: 1020px){
      margin: 0;
    }
  }

  .carbon-forecast-header {
    margin: 0;
    text-align: center;
  }

  .carbon-data {
    font-size: 1.4rem;
    margin: 0;
    text-align: center;

    &.low-intensity {
      color: #133b24;
    }
  
    &.moderate-intensity {
      color: #F9A825;
    }
  
    &.high-intensity {
      color: red;
    }
  }
}

.carbon-density-regional-container {
  display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    justify-content: stretch;
    width: 90%;

  .carbon-density-regional-information{ 
    background-color: white;
    border-radius: 10px;
    height: auto;
    grid-column: span 9;
  }
  
  .carbon-density-regional-side-panel {
    background-color: white;
    border-radius: 10px;
    height: auto;
    grid-column: span 3; 
    width: auto;
  }
}

.carbon-density-regional-container {
  @media(max-width: 768px){
    display: flex;
    flex-direction: column;
  }
}


.carbon-density-all-information-container {
  @media(min-width: 1020px){
    display: flex;
    justify-content: space-around;
  }
}

.carbon-density-home-info {
  .carbon-density-information-container {
    @media(min-width: 1020px){
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 1.4rem;
    }
  }
}

// TODO fix tablet views

