.carbon-density-home-info {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  height: 704px;
  // Setting a fixed height for now to see how it looks

  .carbon-density-text {
    font-size: 1.3rem;
  }
}