.carbon-intensity-regional-information-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  justify-items: center;

  @media screen and (min-width: 1020px) {
    display: flex;
    flex-direction: column;
  }

  .carbon-intensity-regional-card-container {
    width: 168px;
    @media screen and (min-width: 1020px){
      width: 268px;
    }

    .carbon-intensity-forecast-header {
      margin-bottom: 0;
    }
  }
}


.carbon-intensity-similar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  .carbon-intensity {
    width: 70%;

    .carbon-intensity-similar-name {
      margin-top: 0;
      text-align: center;
    }

    .carbon-intensity-similar-link {
      display: flex;
    justify-content: center;
    gap: 1rem;
    .carbon-intensity-similar-index {
      margin-top: 0;
    }
    }

  }
}

.carbon-intensity-regional-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: 768px){
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
      justify-content: stretch;
      width: 90%;
  }
}