.carbon-density-data-container {
  display: flex;
  gap: 1rem;
  .carbon-density-information-container {
    display: flex;
    width: 70%;
  }
}

.carbon-intensity-similar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .carbon-intensity {
    width: 70%;

    .carbon-intensity-similar-name {
      margin-top: 0;
      text-align: center;
    }

    .carbon-intensity-similar-link {
      display: flex;
    justify-content: center;
    gap: 1rem;
    .carbon-intensity-similar-index {
      margin-top: 0;
    }
    }

  }
}